{% extends 'base.html' %}

{% block content %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Отклики на мои объявления</li>
        </ol>
    </nav>
    {% if selected_ad %}
        <h1>Все отклики на объявление "{{ selected_ad }}"</h1>
    {% else %}
        <h1>Отклики на мои объявления</h1>
    {% endif %}
    <hr>
    <form method="get">
        {% for f in form %}
            <div class="mb-3">
                <label class="form-label">{{ f.label }}</label>
                {{ f }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>
    <div class="cards row">
        {% for response in responses %}
            <div class="col-lg-4 col-md-12 g-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Отклик на "{{ response.ad.header }}"</h5>
                        <p class="card-text">{{ response.text }}</p>
                        <div class="d-flex">
                            <a style="margin: 0 20px 0 0;" href="{% url 'users:delete_response' response.ad.id %}"
                               class="btn btn-danger">Удалить</a>
                            <a href="{% url 'users:accept_response' response.ad.id %}"
                               class="btn btn-success">Принять</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Объявлений пока что нет.</p>
        {% endfor %}
    </div>
{% endblock %}