{% extends 'base.html' %}

{% block content %}
    <br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Главная</li>
        </ol>
    </nav>
    <h1>Объявления</h1>
    <hr>
    <div class="cards row">
        {% for ad in ads %}
            <div class="col-lg-4 col-md-12 g-4">
                <div class="card">
                    {% if ad.media_files.exists %}
                        {% if ad.media_files.first.return_file_name.lower == 'видео' %}
                            <video class="card-img-top">
                                <source src="{{ ad.media_files.first.file.url }}" type="video/mp4">
                                Ваш браузер не поддерживает тег video.
                            </video>
                        {% elif ad.media_files.first.return_file_name.lower == 'изображение' %}
                            <img class="card-img-top" src="{{ ad.media_files.first.file.url }}" alt="">
                        {% endif %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ ad.header }}</h5>
                        <p class="card-text">{{ ad.body|truncatechars:100 }}</p>
                        <a href="{% url 'main:detail_ad' ad.id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Объявлений пока что нет.</p>
        {% endfor %}
    </div>
{% endblock %}